<!DOCTYPE html>
<html lang="es">
    <%- include('templates/head') %>
<body>
    <%- include('templates/background') %>
    <%- include('templates/navbar') %>
    <%- include('templates/about') %>
    <%- include('templates/footer') %>
</body>
</html>